* {
    font-family: 'FiraCode Nerd Font', monospace;
    font-size: 14px;
}

@define-color color-1 #9C0911;
@define-color color-2 #7b0c12;
@define-color color-3 #590f13;
@define-color color-4 #151515;
@define-color color-5 #2a2a2a;
@define-color col-txt #ffffff;

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: @col-txt;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-right{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 255);
    margin-right: 8px;
    margin-bottom: 8px;
}

.modules-left{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 255);
    margin-right: 8px;
    margin-top: 8px;
}

#clock, #network, #tray{
    padding: 10px;
}

#workspaces button {
    padding: 0 5px;
    border-radius: 5px;
    border: 0px
}

#workspaces button:hover{
    color: #ff8888;
    font-weight:normal;
    background: #000000;
}

#workspaces button.active {
    color: #ff0000;
}

#workspaces button.active:hover {
    color: #ff0000;
    background: #00000000;

    font-weight:bold;
}

